<h1 class="editing-book">Editing Book</h1>

<% if @book.errors.any? %>
<div id="error-explanation">
  <h3 class="error-heading">
    <%= pluralize(@book.errors.count, "error" ) %>
    prohibited this book from being saved:
  </h3>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
     <li class="error-message">
       <%= message %>
     </li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_with model:@book, local:true do |f| %>
  
  <h4>Title</h4>
   <div class="form"><%= f.text_field :title%></div>
  
  <h4>Body</h4>
   <div class="form"><%= f.text_area :body %></div>
  
  <div class="submit"><%= f.submit 'Update Book' %></div>
  
<% end %>
  
  <%= link_to 'Show', book_path(@book) %>
  <span>|</span>
  <%= link_to 'Back', books_path %>
 