<h1 class="books">Books</h1>

<table>
  <thead>
    <tr>
      <th>title</th>
      <th>body</th>
      <th></th>
    </tr>
  </thead>

  <% @books.each do |book| %>

  <tbody>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      <td><%= link_to "Show", book_path(book) %></td>
      <td><%= link_to "Edit", edit_book_path(book) %></td>
      <td><%= link_to "Destroy", book_path(book), method: :delete %></td>
    </tr>
  </tbody>

  <% end %>
</table>

<div class="create_form">
  <h2>New Book</h2>

  <%= form_with model:@book, local:true do |f| %>
  
    <h4>Title</h4>
    <div class="form"><%= f.text_field :title %></div>
  
    <h4>Body</h4>
    <div class="form"><%= f.text_area :body %></div>
  
    <div class="submit"><%= f.submit 'Create Book' %></div> 
  
  <% end %>  


  
</div>










